body{
	background-color: gray;
}

.cool{
	visibility: visible;
	width: 100px;
	height: 100px;
	background-color: green;
	transition: background-color 1s;
}

.cool.red{
	visibility: hidden;
	background-color: red;
}